<link rel="stylesheet" href="style.css">

<main class="center">
    <form method="POST" action="/new" class="new-message">
        <h3 class="form-title">Print new Message</h3>
        <input type="text" name="userName" placeholder="Your Name" class="input"><br>
        <input type="text" name="messageText" placeholder="Message" class="input"><br>
        <div class="button-div">
            <button class="button">Send Message</button>
        </div>
    </form>
</main>