* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #c9eaff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 96px;
    background-color: #fff;
}

.header a {
    color: rgb(37, 37, 37);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.message, .new-message {
    background-color: #fff;
    width: 670px;
    min-height: 200px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message a {
    color: rgb(37, 37, 37);
}

.message p {
    font-size: 18px;
}

.new-message {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form-title {
    font-size: 35px;
}

.input {
    height: 50px;
    border-radius: 9px;
    font-size: 16px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 250px;
    height: 50px;
    border-radius: 9px;
}